* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.header_container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_container h1 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#logotype {
  position: absolute;
  left: calc(50% - 40px);
}
#logotype img {
  width: 80px;
  height: 25px;
}

.header_icons {
  display: flex;
  list-style: none;
  align-items: center;
}
.header_icons ul {
  list-style: none;
}

#i_instagram {
  margin-right: 15px;
}

#i_search {
  margin-right: 7px;
}

.section1 {
  background-color: #f0efeb;
  margin: auto;
}

.section1_container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.section1_container article {
  padding-top: 90px;
  padding-right: 73px;
  max-width: 532px;
}
.section1_container article p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 26px;
}
.section1_container article h1 {
  padding-bottom: 42px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.shopnow_btn {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 100px;
  border: 1px solid #000;
  background: #000;
  padding: 7px 23px 9px 23px;
  margin-bottom: 90px;
}
.shopnow_btn:hover {
  text-decoration: none;
}

.section1_img img {
  max-width: 532px;
  margin-bottom: 24px;
}

.section2 {
  background-color: #ffffff;
  margin: auto;
}

.section2_container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 248px;
}
.section2_container article {
  max-width: 692px;
  margin: auto;
}
.section2_container article h3 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
}
.section2_container article p {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.section2_container article span {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.s2_cards_container {
  margin: auto;
  text-align: center;
}
.s2_cards_container h3 {
  margin-top: 88px;
  margin-bottom: 52px;
}

.s2_img_box {
  max-width: 1064px;
  display: flex;
  justify-content: space-between;
}
.s2_img_box article img {
  margin-bottom: 27px;
}
.s2_img_box article h5 {
  margin-bottom: 17px;
}

.section3 {
  background: rgba(204, 204, 204, 0.3);
}

.secion3_container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  max-width: 1064px;
  padding-top: 76px;
  padding-bottom: 51px;
}
.secion3_container img {
  margin-right: 50px;
  max-width: 385px;
}
.secion3_container article {
  width: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.secion3_container h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}
.secion3_container p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  max-width: 498px;
}

.section4 {
  background: rgba(204, 204, 204, 0.6);
}

.section4_container {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  max-width: 1064px;
  padding-top: 76px;
  padding-bottom: 51px;
}
.section4_container img {
  margin-left: 50px;
  max-width: 385px;
}
.section4_container h3 {
  color: #000;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}
.section4_container p {
  color: #000;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 31px;
}
.section4_container article {
  max-width: 513px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section4_container a,
.secion3_container a,
.s2_img_box a,
.section5_container a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.section5 {
  background: rgba(204, 204, 204, 0.3);
  margin: auto;
}

.section5_container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  max-width: 1064px;
  padding-top: 76px;
  padding-bottom: 51px;
}
.section5_container img {
  max-width: 385px;
  margin-right: 50px;
}
.section5_container h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}
.section5_container p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 39px;
}
.section5_container article {
  max-width: 532px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section6 {
  background: rgba(255, 255, 255, 0.3);
  margin: auto;
}

.section6_container {
  margin: auto;
  max-width: 1064px;
  padding-top: 190px;
  text-align: center;
}
.section6_container h4 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 450px;
  margin: auto;
  margin-bottom: 69px;
}
.section6_container h5 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color_dots {
  max-width: 1064px;
  display: flex;
  flex-direction: column;
}

.color_dots_row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 111px;
}

.color_dots_row2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 111px;
}

.sphere {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  display: inline-block;
}

.dot1 {
  background-color: #21f7ec;
  margin-bottom: 26px;
}

.dot1_box {
  max-width: 339px;
  padding-left: 96px;
  padding-right: 96px;
}

.dot2_box {
  max-width: 339px;
  padding-left: 85px;
  padding-right: 85px;
}

.dot3_box {
  max-width: 339px;
  padding-left: 63px;
  padding-right: 63px;
}

.dot4_box {
  max-width: 339px;
  padding-left: 75px;
  padding-right: 75px;
}

.dot5_box {
  max-width: 339px;
  padding-left: 90px;
  padding-right: 90px;
}

.dot6_box {
  max-width: 339px;
  padding-left: 75px;
  padding-right: 75px;
}

.dot2 {
  background-color: #33d3bc;
  margin-bottom: 26px;
}

.dot3 {
  background-color: #18a5c6;
  margin-bottom: 26px;
}

.dot4 {
  background-color: #d38f62;
  margin-bottom: 26px;
}

.dot5 {
  background-color: #f94c43;
  margin-bottom: 26px;
}

.dot6 {
  background-color: #d399ff;
  margin-bottom: 26px;
}

.section7 {
  background: rgba(255, 255, 255, 0.3);
  margin: auto;
}

.section7_container {
  margin: auto;
  max-width: 1064px;
  padding-top: 52px;
  text-align: center;
}
.section7_container h4 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
  max-width: 705px;
  margin-bottom: 290px;
}

.section8 {
  background: #f0f0f0;
  margin: auto;
}

.section8_container {
  margin: auto;
  max-width: 1064px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#article1,
#article2,
#article3 {
  max-width: 288px;
  position: relative;
  padding-top: 198px;
  padding-bottom: 52px;
}

#face1 {
  position: absolute;
  top: -190px;
  left: 0;
}

#face2 {
  top: -190px;
  position: absolute;
  left: calc(50% - 144px);
}

#face3 {
  position: absolute;
  top: -190px;
  right: 0;
}

#article1,
#article2,
#article3 {
  text-align: center;
}

#article1 h5,
#article2 h5,
#article3 h5 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
  text-align: center;
}

#article1 h6,
#article2 h6,
#article3 h6 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 69px;
  text-align: center;
}

#article1 a,
#article2 a,
#article3 a {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: center;
}

.section9 {
  background: #ffffff;
  margin: auto;
  padding-top: 79px;
  padding-bottom: 88px;
}

.section9_container {
  margin: auto;
  max-width: 496px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section9_container h3 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 9px;
}
.section9_container p {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 26px;
}

.form_subscribe {
  max-width: 366px;
}

#form_row1 {
  display: flex;
  justify-content: space-between;
  max-width: 366px;
  margin: auto;
  margin-bottom: 18px;
}

#form_row2 {
  max-width: 366px;
  margin: auto;
  margin-bottom: 16px;
}

#name,
#lastname {
  border: 1px solid #000;
  color: #a0a0a0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 153px;
  height: 39px;
  text-align: left;
  padding-left: 8px;
}

#email {
  border: 1px solid #000;
  color: #a0a0a0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 39px;
  text-align: left;
  padding-left: 8px;
}

#btn_subscribe {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 100px;
  border: 1px solid #000;
  background: #000;
  padding: 7px 23px 9px 23px;
}

footer {
  background-color: #020202;
  padding-top: 51px;
  padding-bottom: 16px;
}

.footer_container {
  margin: auto;
  max-width: 1064px;
  display: flex;
  justify-content: space-between;
}
.footer_container img {
  margin-bottom: 37px;
}

#facebook,
#instagram {
  margin-right: 20px;
}

.footer_menu {
  display: flex;
}

#footer_menu1,
#footer_menu2 {
  list-style: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.1px;
}

#footer_menu1 a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.1px;
  margin-right: 72px;
}

#footer_menu2 a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.1px;
}

#footer_menu1 li:first-of-type,
#footer_menu2 li:first-of-type {
  margin-bottom: 36px;
}

#footer_menu1 li,
#footer_menu2 li {
  margin-bottom: 12px;
}

#copyright {
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.1px;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */