$body-bg: #ffffff;
$cont-w: 1064px;
$main-font: "Roboto", sans-serif;
$grey-bg: #f0efeb;

// SECTION 1
.section1 {
    background-color: $grey-bg;
    margin: auto;
  }
  
  .section1_container {
    max-width: $cont-w;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .section1_container article {
    padding-top: 90px;
    padding-right: 73px;
    max-width: 532px;
    h1 {
      padding-bottom: 42px;
    }
    p {
      color: #000;
      font-family: $main-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 26px;
    }
  }
  
  .shopnow_btn {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 100px;
    border: 1px solid #000;
    background: #000;
    padding: 7px 23px 9px 23px;
  }
  
  .section1_img img {
    max-width: 532px;
    margin-bottom: 24px;
  }