$body-bg: #ffffff;
$cont-w: 1064px;
$main-font: "Roboto", sans-serif;
$grey-bg: #f0efeb;

// SECTION 4
.section4 {
  background: rgba(204, 204, 204, 0.6);
}

.section4_container {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  max-width: $cont-w;
  padding-top: 76px;
  padding-bottom: 51px;
  img {
    margin-left: 50px;
    max-width: 385px;
  }
  h3 {
    color: #000;
    text-align: right;
    font-family: $main-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 31px;
  }
  p {
    color: #000;
    text-align: right;
    font-family: $main-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 31px;
  }
  article {
    max-width: 513px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section4_container a,
.secion3_container a,
.s2_img_box a,
.section5_container a {
  color: #000;
  font-family: $main-font;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}