$body-bg: #ffffff;
$cont-w: 1064px;
$main-font: "Roboto", sans-serif;
$grey-bg: #f0efeb;

// SECTION 8
.section8 {
    background: #f0f0f0;
    margin: auto;
  }
  
  .section8_container {
    margin: auto;
    max-width: $cont-w;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  #article1,
  #article2,
  #article3 {
    max-width: 288px;
    position: relative;
    padding-top: 198px;
    padding-bottom: 52px;
  }
  
  #face1 {
    position: absolute;
    top: -190px;
    left: 0;
  }
  
  #face2 {
    top: -190px;
    position: absolute;
    left: calc(50% - 144px);
  }
  
  #face3 {
    position: absolute;
    top: -190px;
    right: 0;
  }
  
  #article1,
  #article2,
  #article3 {
    text-align: center;
  }
  
  #article1 h5,
  #article2 h5,
  #article3 h5 {
    color: #000;
    text-align: center;
    font-family: $main-font;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  #article1 h6,
  #article2 h6,
  #article3 h6 {
    color: #000;
    text-align: center;
    font-family: $main-font;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 69px;
    text-align: center;
  }
  
  #article1 a,
  #article2 a,
  #article3 a {
    color: #000;
    text-align: center;
    font-family: $main-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
  }