$body-bg: #ffffff;
$cont-w: 1064px;
$main-font: "Roboto", sans-serif;
$grey-bg: #f0efeb;

// SECTION 7
.section7 {
    background: rgba(255, 255, 255, 0.3);
    margin: auto;
  }
  
  .section7_container {
    margin: auto;
    max-width: $cont-w;
    padding-top: 52px;
    text-align: center;
    h4 {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: auto;
      max-width: 705px;
      margin-bottom: 290px;
    }
  }