$body-bg: #ffffff;
$cont-w: 1064px;
$main-font: "Roboto", sans-serif;
$grey-bg: #f0efeb;

// SECTION 9
.section9 {
    background: $body-bg;
    margin: auto;
    padding-top: 79px;
    padding-bottom: 88px;
  }
  
  .section9_container {
    margin: auto;
    max-width: 496px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h3 {
      color: #000;
      text-align: center;
      font-family: $main-font;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 9px;
    }
    p {
      color: #000;
      text-align: center;
      font-family: $main-font;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 26px;
    }
  }
  
  .form_subscribe {
    max-width: 366px;
  }
  
  #form_row1 {
    display: flex;
    justify-content: space-between;
    max-width: 366px;
    margin: auto;
    margin-bottom: 18px;
  }
  
  #form_row2 {
    max-width: 366px;
    margin: auto;
    margin-bottom: 16px;
  }
  
  #name,
  #lastname {
    border: 1px solid #000;
    color: #a0a0a0;
    text-align: center;
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 153px;
    height: 39px;
    text-align: left;
    padding-left: 8px;
  }
  
  #email {
    border: 1px solid #000;
    color: #a0a0a0;
    text-align: center;
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 39px;
    text-align: left;
    padding-left: 8px;
  }
  
  #btn_subscribe {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 100px;
    border: 1px solid #000;
    background: #000;
    padding: 7px 23px 9px 23px;
  }