$body-bg: #ffffff;
$cont-w: 1064px;
$main-font: "Roboto", sans-serif;
$grey-bg: #f0efeb;

// SECTION 3
.section3 {
    background: rgba(204, 204, 204, 0.3);
  }
  
  .secion3_container {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    max-width: $cont-w;
    padding-top: 76px;
    padding-bottom: 51px;
    img {
      margin-right: 50px;
      max-width: 385px;
    }
    article {
      width: 532px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
    }
    h3 {
      color: #000;
      font-family: $main-font;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 31px;
    }
    p {
      color: #000;
      font-family: $main-font;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 40px;
      max-width: 498px;
    }
  }